{% extends 'aluno/base.html' %}


{% block title %}

Cartão Acadêmico | Portal de Estudantes

{% endblock %}



{% block content %}


<section class="hero">


<div class="hero-content">


<h2>

Gerenciamento de Perfis Acadêmicos

</h2>



<p>

Visualize informações dos estudantes,
cursos e trajetórias acadêmicas em uma
plataforma organizada e moderna.

</p>



<div class="hero-actions">


<button class="primary-btn" onclick="irParaAlunos()">

Visualizar estudantes

</button>


</div>


</div>





<div class="system-box">


<h3>

Sistema Acadêmico

</h3>


<p>

Aplicação desenvolvida utilizando
Django, banco de dados e templates
dinâmicos.

</p>


</div>



</section>









<section class="dashboard">


<div class="info-card">

<h3>

{{ alunos|length }}

</h3>


<p>

Total de estudantes

</p>


</div>




<div class="info-card">


<h3>
Django
</h3>


<p>
Framework utilizado
</p>


</div>





<div class="info-card">


<h3>
2026
</h3>


<p>
Projeto acadêmico
</p>


</div>



</section>








<section class="search-section">


<input 

type="text"

id="search"

placeholder="Pesquisar estudante..."

onkeyup="searchStudents()"


>


</section>









<section class="students" id="alunos">


<div style="
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:25px;
">


<h2 class="students-title">

Estudantes cadastrados

</h2>


<a href="{% url 'criar_aluno' %}"

style="
background:#2563eb;
color:white;
padding:12px 20px;
border-radius:8px;
text-decoration:none;
font-weight:600;
">

+ Novo Aluno

</a>


</div>




<div class="cards">





{% for aluno in alunos %}




<div class="student-card">


<div class="profile">



<div class="avatar">

{{ aluno.nome|first|upper }}

</div>



<div>

<h3 class="student-name">

{{ aluno.nome }}

</h3>


</div>



</div>






<p class="course">

{{ aluno.curso }}

</p>





<p class="description">

{{ aluno.bio }}

</p>






<div class="buttons">


<button 
class="view"

onclick="openModal(
'{{ aluno.nome|escapejs }}',
'{{ aluno.curso|escapejs }}',
'{{ aluno.bio|escapejs }}'
)"

>

Visualizar

</button>




<a 

href="{% url 'editar_aluno' aluno.pk %}"

class="edit"

style="
text-decoration:none;
display:inline-block;
"

>

Editar

</a>




<a 

href="{% url 'excluir_aluno' aluno.pk %}"

class="delete"

style="
text-decoration:none;
display:inline-block;
"

>

Excluir

</a>



</div>



</div>





{% empty %}


<p>

Nenhum aluno cadastrado.

</p>



{% endfor %}





</div>



</section>









<!-- MODAL -->


<div class="modal" id="modal">


<div class="modal-content">


<h2 id="modalName">

</h2>


<br>


<p id="modalCourse">

</p>


<br>


<p id="modalBio">

</p>



<button class="close-btn" onclick="closeModal()">

Fechar

</button>



</div>


</div>

















<script>


// ======================
// TEMA
// ======================


function toggleTheme(){


document.body.classList.toggle("dark");


localStorage.setItem(

"dark",

document.body.classList.contains("dark")

);


}



if(localStorage.getItem("dark")=="true"){

document.body.classList.add("dark");

}






// ======================
// PESQUISA
// ======================


function searchStudents(){


let value =
document.getElementById("search")
.value
.toLowerCase();



let cards =
document.querySelectorAll(".student-card");



cards.forEach(card=>{


let name =
card.querySelector(".student-name")
.innerText
.toLowerCase();



if(name.includes(value)){


card.style.display="block";


}else{


card.style.display="none";


}


});



}








// ======================
// MODAL
// ======================


function openModal(name, course, bio){

    document.getElementById("modalName").textContent = name;


    document.getElementById("modalCourse").innerHTML =
    "<b>Curso:</b> " + course;


    document.getElementById("modalBio").innerHTML =
    "<b>Descrição:</b> " + bio;


    document.getElementById("modal").style.display = "flex";

}



function closeModal(){

    document.getElementById("modal").style.display = "none";

}




function closeModal(){


document.getElementById("modal")
.style.display="none";


}







// ======================
// SCROLL
// ======================


function irParaAlunos(){


document
.getElementById("alunos")
.scrollIntoView({

behavior:"smooth"

});


}


</script>



{% endblock %}